In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, Lasso
from sklearn.linear_model import RidgeCV, LassoCV
## Import evaluation metrics and scalers.
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import model_selection
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [2]:
df = pd.read_csv('Train_Data.csv')
df

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71
...,...,...,...,...,...,...,...,...,...
4566,28-02-2021,campaign 1,adgroup 3,ad 55,19,6,0.07,0,0.00
4567,28-02-2021,campaign 1,adgroup 4,ad 55,1,0,0.00,0,0.00
4568,28-02-2021,campaign 1,adgroup 3,ad 56,16,8,0.12,1,93.20
4569,28-02-2021,campaign 1,adgroup 1,ad 56,37,13,0.23,0,0.00
4570,28-02-2021,campaign 1,adgroup 1,ad 55,19,10,0.14,0,0.00

In [3]:
df.shape

(4571, 9)

In [4]:
cols = df.columns
cols

Index(['date', 'campaign', 'adgroup', 'ad', 'impressions', 'clicks', 'cost',
       'conversions', 'revenue'],
      dtype='object')

In [5]:
dt = pd.read_csv('Test_Data.csv')
dt

,date,campaign,adgroup,ad,cost,impressions,clicks,conversions
0,01-03-2021,campaign 1,adgroup 1,ad 1,0.58,121,49,1
1,01-03-2021,campaign 1,adgroup 3,ad 1,0.17,22,12,0
2,01-03-2021,campaign 1,adgroup 4,ad 1,0.05,5,3,0
3,01-03-2021,campaign 1,adgroup 2,ad 1,0.01,2,1,0
4,01-03-2021,campaign 1,adgroup 2,ad 2,0.01,3,1,0
...,...,...,...,...,...,...,...,...
313,15-03-2021,campaign 1,adgroup 4,ad 55,0.01,1,1,0
314,15-03-2021,campaign 1,adgroup 3,ad 55,0.01,5,1,0
315,15-03-2021,campaign 1,adgroup 1,ad 55,0.14,25,11,0
316,15-03-2021,campaign 1,adgroup 3,ad 56,0.06,9,4,0
317,15-03-2021,campaign 1,adgroup 1,ad 56,0.33,67,27,1

In [6]:
dt.shape

(318, 8)

In [7]:
#df = df[["C", "A", "B"]]
dt = dt[['date', 'campaign', 'adgroup', 'ad', 'impressions', 'clicks', 'cost',
       'conversions']]
dt

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions
0,01-03-2021,campaign 1,adgroup 1,ad 1,121,49,0.58,1
1,01-03-2021,campaign 1,adgroup 3,ad 1,22,12,0.17,0
2,01-03-2021,campaign 1,adgroup 4,ad 1,5,3,0.05,0
3,01-03-2021,campaign 1,adgroup 2,ad 1,2,1,0.01,0
4,01-03-2021,campaign 1,adgroup 2,ad 2,3,1,0.01,0
...,...,...,...,...,...,...,...,...
313,15-03-2021,campaign 1,adgroup 4,ad 55,1,1,0.01,0
314,15-03-2021,campaign 1,adgroup 3,ad 55,5,1,0.01,0
315,15-03-2021,campaign 1,adgroup 1,ad 55,25,11,0.14,0
316,15-03-2021,campaign 1,adgroup 3,ad 56,9,4,0.06,0
317,15-03-2021,campaign 1,adgroup 1,ad 56,67,27,0.33,1

In [8]:
## Include "object" data-types for categorical columns.
df = df.drop('date',axis='columns')
print(df)
df_cat = df.select_dtypes(include="object").columns.values

## Use One Hot encoding on the df and use columns as df_cat
df_encoded=pd.get_dummies(df,columns=df_cat)

        campaign    adgroup     ad  impressions  clicks  cost  conversions  \
0     campaign 1  adgroup 1   ad 1           24       6  0.08            0
1     campaign 1  adgroup 2   ad 1            1       0  0.00            0
2     campaign 1  adgroup 3   ad 1           13       4  0.04            0
3     campaign 1  adgroup 4   ad 1            5       4  0.08            0
4     campaign 1  adgroup 1   ad 2          247     126  1.29            4
...          ...        ...    ...          ...     ...   ...          ...
4566  campaign 1  adgroup 3  ad 55           19       6  0.07            0
4567  campaign 1  adgroup 4  ad 55            1       0  0.00            0
4568  campaign 1  adgroup 3  ad 56           16       8  0.12            1
4569  campaign 1  adgroup 1  ad 56           37      13  0.23            0
4570  campaign 1  adgroup 1  ad 55           19      10  0.14            0

      revenue
0        0.00
1        0.00
2        0.00
3        0.00
4      925.71
...       ...
4566     0.00
4567     0.00
4568    93.20
4569     0.00
4570     0.00

[4571 rows x 8 columns]

In [9]:
df_encoded.head()

,impressions,clicks,cost,conversions,revenue,campaign_campaign 1,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4,...,ad_ad 64,ad_ad 65,ad_ad 66,ad_ad 67,ad_ad 68,ad_ad 69,ad_ad 7,ad_ad 70,ad_ad 8,ad_ad 9
0,24,6,0.08,0,0.00,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0.00,0,0.00,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,13,4,0.04,0,0.00,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,5,4,0.08,0,0.00,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,247,126,1.29,4,925.71,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df2 = df_encoded.copy()
df2

,impressions,clicks,cost,conversions,revenue,campaign_campaign 1,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4,...,ad_ad 64,ad_ad 65,ad_ad 66,ad_ad 67,ad_ad 68,ad_ad 69,ad_ad 7,ad_ad 70,ad_ad 8,ad_ad 9
0,24,6,0.08,0,0.00,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0.00,0,0.00,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,13,4,0.04,0,0.00,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,5,4,0.08,0,0.00,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,247,126,1.29,4,925.71,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4566,19,6,0.07,0,0.00,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4567,1,0,0.00,0,0.00,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4568,16,8,0.12,1,93.20,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4569,37,13,0.23,0,0.00,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4570,19,10,0.14,0,0.00,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
X = df2.drop(['revenue'],axis=1)

y = df2['revenue']
y

0         0.00
1         0.00
2         0.00
3         0.00
4       925.71
         ...
4566      0.00
4567      0.00
4568     93.20
4569      0.00
4570      0.00
Name: revenue, Length: 4571, dtype: float64

In [12]:
# df1 = df2.drop('revenue', axis = 'columns')
# df1

In [13]:
dt = dt.drop('date',axis='columns')
print(dt)
dt_cat = dt.select_dtypes(include="object").columns.values

## Use One Hot encoding on the df and use columns as df_cat
dt_encoded=pd.get_dummies(dt,columns=dt_cat)
dt2 = dt_encoded.copy()
dt2

       campaign    adgroup     ad  impressions  clicks  cost  conversions
0    campaign 1  adgroup 1   ad 1          121      49  0.58            1
1    campaign 1  adgroup 3   ad 1           22      12  0.17            0
2    campaign 1  adgroup 4   ad 1            5       3  0.05            0
3    campaign 1  adgroup 2   ad 1            2       1  0.01            0
4    campaign 1  adgroup 2   ad 2            3       1  0.01            0
..          ...        ...    ...          ...     ...   ...          ...
313  campaign 1  adgroup 4  ad 55            1       1  0.01            0
314  campaign 1  adgroup 3  ad 55            5       1  0.01            0
315  campaign 1  adgroup 1  ad 55           25      11  0.14            0
316  campaign 1  adgroup 3  ad 56            9       4  0.06            0
317  campaign 1  adgroup 1  ad 56           67      27  0.33            1

[318 rows x 7 columns]

,impressions,clicks,cost,conversions,campaign_campaign 1,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4,ad_ad 1,...,ad_ad 55,ad_ad 56,ad_ad 6,ad_ad 7,ad_ad 71,ad_ad 72,ad_ad 73,ad_ad 74,ad_ad 75,ad_ad 8
0,121,49,0.58,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,22,12,0.17,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,5,3,0.05,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,2,1,0.01,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,3,1,0.01,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,1,1,0.01,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
314,5,1,0.01,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
315,25,11,0.14,0,1,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
316,9,4,0.06,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
317,67,27,0.33,1,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [14]:
feature_difference = set(X) - set(dt2)

# create zero-filled matrix where the rows are equal to the number
# of row in `test` and columns equal the number of categories missing (i.e. set difference 
# between relevant `train` and `test` columns
feature_difference_df = pd.DataFrame(data=np.zeros((dt2.shape[0], len(feature_difference))),
                                     columns=list(feature_difference))

# add "missing" features back to `test
dt2 = dt2.join(feature_difference_df)
dt2

,impressions,clicks,cost,conversions,campaign_campaign 1,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4,ad_ad 1,...,ad_ad 66,ad_ad 67,ad_ad 35,ad_ad 68,ad_ad 47,ad_ad 64,ad_ad 51,ad_ad 13,ad_ad 58,ad_ad 53
0,121,49,0.58,1,1,1,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22,12,0.17,0,1,0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,3,0.05,0,1,0,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2,1,0.01,0,1,0,1,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,1,0.01,0,1,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,1,1,0.01,0,1,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
314,5,1,0.01,0,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
315,25,11,0.14,0,1,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
316,9,4,0.06,0,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
317,67,27,0.33,1,1,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
dt2.columns

Index(['impressions', 'clicks', 'cost', 'conversions', 'campaign_campaign 1',
       'adgroup_adgroup 1', 'adgroup_adgroup 2', 'adgroup_adgroup 3',
       'adgroup_adgroup 4', 'ad_ad 1', 'ad_ad 10', 'ad_ad 2', 'ad_ad 3',
       'ad_ad 4', 'ad_ad 5', 'ad_ad 55', 'ad_ad 56', 'ad_ad 6', 'ad_ad 7',
       'ad_ad 71', 'ad_ad 72', 'ad_ad 73', 'ad_ad 74', 'ad_ad 75', 'ad_ad 8',
       'ad_ad 40', 'ad_ad 43', 'ad_ad 21', 'ad_ad 44', 'ad_ad 12', 'ad_ad 60',
       'ad_ad 57', 'ad_ad 36', 'ad_ad 28', 'ad_ad 18', 'ad_ad 33', 'ad_ad 17',
       'ad_ad 48', 'ad_ad 38', 'ad_ad 24', 'ad_ad 59', 'ad_ad 41', 'ad_ad 61',
       'ad_ad 42', 'ad_ad 11', 'ad_ad 70', 'ad_ad 39', 'ad_ad 16', 'ad_ad 52',
       'ad_ad 22', 'ad_ad 14', 'ad_ad 20', 'ad_ad 32', 'ad_ad 54', 'ad_ad 50',
       'ad_ad 63', 'ad_ad 62', 'ad_ad 49', 'ad_ad 25', 'ad_ad 23', 'ad_ad 29',
       'ad_ad 27', 'ad_ad 31', 'ad_ad 65', 'ad_ad 37', 'ad_ad 30', 'ad_ad 9',
       'ad_ad 34', 'ad_ad 19', 'ad_ad 46', 'ad_ad 69', 'ad_ad 15', 'ad_ad 45',
       'ad_ad 26', 'ad_ad 66', 'ad_ad 67', 'ad_ad 35', 'ad_ad 68', 'ad_ad 47',
       'ad_ad 64', 'ad_ad 51', 'ad_ad 13', 'ad_ad 58', 'ad_ad 53'],
      dtype='object')

In [16]:
feature_difference_2 = set(dt2) - set(X)

# create zero-filled matrix where the rows are equal to the number
# of row in `test` and columns equal the number of categories missing (i.e. set difference 
# between relevant `train` and `test` columns
feature_difference_df_2 = pd.DataFrame(data=np.zeros((X.shape[0], len(feature_difference_2))),
                                     columns=list(feature_difference_2))

# add "missing" features back to `test
X = X.join(feature_difference_df_2)
X

,impressions,clicks,cost,conversions,campaign_campaign 1,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4,ad_ad 1,...,ad_ad 69,ad_ad 7,ad_ad 70,ad_ad 8,ad_ad 9,ad_ad 73,ad_ad 74,ad_ad 75,ad_ad 72,ad_ad 71
0,24,6,0.08,0,1,1,0,0,0,1,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
1,1,0,0.00,0,1,0,1,0,0,1,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
2,13,4,0.04,0,1,0,0,1,0,1,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
3,5,4,0.08,0,1,0,0,0,1,1,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
4,247,126,1.29,4,1,1,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4566,19,6,0.07,0,1,0,0,1,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
4567,1,0,0.00,0,1,0,0,0,1,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
4568,16,8,0.12,1,1,0,0,1,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
4569,37,13,0.23,0,1,1,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
4570,19,10,0.14,0,1,1,0,0,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0

In [17]:
print(X.columns)
print(dt2.columns)

Index(['impressions', 'clicks', 'cost', 'conversions', 'campaign_campaign 1',
       'adgroup_adgroup 1', 'adgroup_adgroup 2', 'adgroup_adgroup 3',
       'adgroup_adgroup 4', 'ad_ad 1', 'ad_ad 10', 'ad_ad 11', 'ad_ad 12',
       'ad_ad 13', 'ad_ad 14', 'ad_ad 15', 'ad_ad 16', 'ad_ad 17', 'ad_ad 18',
       'ad_ad 19', 'ad_ad 2', 'ad_ad 20', 'ad_ad 21', 'ad_ad 22', 'ad_ad 23',
       'ad_ad 24', 'ad_ad 25', 'ad_ad 26', 'ad_ad 27', 'ad_ad 28', 'ad_ad 29',
       'ad_ad 3', 'ad_ad 30', 'ad_ad 31', 'ad_ad 32', 'ad_ad 33', 'ad_ad 34',
       'ad_ad 35', 'ad_ad 36', 'ad_ad 37', 'ad_ad 38', 'ad_ad 39', 'ad_ad 4',
       'ad_ad 40', 'ad_ad 41', 'ad_ad 42', 'ad_ad 43', 'ad_ad 44', 'ad_ad 45',
       'ad_ad 46', 'ad_ad 47', 'ad_ad 48', 'ad_ad 49', 'ad_ad 5', 'ad_ad 50',
       'ad_ad 51', 'ad_ad 52', 'ad_ad 53', 'ad_ad 54', 'ad_ad 55', 'ad_ad 56',
       'ad_ad 57', 'ad_ad 58', 'ad_ad 59', 'ad_ad 6', 'ad_ad 60', 'ad_ad 61',
       'ad_ad 62', 'ad_ad 63', 'ad_ad 64', 'ad_ad 65', 'ad_ad 66', 'ad_ad 67',
       'ad_ad 68', 'ad_ad 69', 'ad_ad 7', 'ad_ad 70', 'ad_ad 8', 'ad_ad 9',
       'ad_ad 73', 'ad_ad 74', 'ad_ad 75', 'ad_ad 72', 'ad_ad 71'],
      dtype='object')
Index(['impressions', 'clicks', 'cost', 'conversions', 'campaign_campaign 1',
       'adgroup_adgroup 1', 'adgroup_adgroup 2', 'adgroup_adgroup 3',
       'adgroup_adgroup 4', 'ad_ad 1', 'ad_ad 10', 'ad_ad 2', 'ad_ad 3',
       'ad_ad 4', 'ad_ad 5', 'ad_ad 55', 'ad_ad 56', 'ad_ad 6', 'ad_ad 7',
       'ad_ad 71', 'ad_ad 72', 'ad_ad 73', 'ad_ad 74', 'ad_ad 75', 'ad_ad 8',
       'ad_ad 40', 'ad_ad 43', 'ad_ad 21', 'ad_ad 44', 'ad_ad 12', 'ad_ad 60',
       'ad_ad 57', 'ad_ad 36', 'ad_ad 28', 'ad_ad 18', 'ad_ad 33', 'ad_ad 17',
       'ad_ad 48', 'ad_ad 38', 'ad_ad 24', 'ad_ad 59', 'ad_ad 41', 'ad_ad 61',
       'ad_ad 42', 'ad_ad 11', 'ad_ad 70', 'ad_ad 39', 'ad_ad 16', 'ad_ad 52',
       'ad_ad 22', 'ad_ad 14', 'ad_ad 20', 'ad_ad 32', 'ad_ad 54', 'ad_ad 50',
       'ad_ad 63', 'ad_ad 62', 'ad_ad 49', 'ad_ad 25', 'ad_ad 23', 'ad_ad 29',
       'ad_ad 27', 'ad_ad 31', 'ad_ad 65', 'ad_ad 37', 'ad_ad 30', 'ad_ad 9',
       'ad_ad 34', 'ad_ad 19', 'ad_ad 46', 'ad_ad 69', 'ad_ad 15', 'ad_ad 45',
       'ad_ad 26', 'ad_ad 66', 'ad_ad 67', 'ad_ad 35', 'ad_ad 68', 'ad_ad 47',
       'ad_ad 64', 'ad_ad 51', 'ad_ad 13', 'ad_ad 58', 'ad_ad 53'],
      dtype='object')

In [19]:
#df = df[["C", "A", "B"]]
dt2 = dt2[X.columns]
dt2

,impressions,clicks,cost,conversions,campaign_campaign 1,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4,ad_ad 1,...,ad_ad 69,ad_ad 7,ad_ad 70,ad_ad 8,ad_ad 9,ad_ad 73,ad_ad 74,ad_ad 75,ad_ad 72,ad_ad 71
0,121,49,0.58,1,1,1,0,0,0,1,...,0.0,0,0.0,0,0.0,0,0,0,0,0
1,22,12,0.17,0,1,0,0,1,0,1,...,0.0,0,0.0,0,0.0,0,0,0,0,0
2,5,3,0.05,0,1,0,0,0,1,1,...,0.0,0,0.0,0,0.0,0,0,0,0,0
3,2,1,0.01,0,1,0,1,0,0,1,...,0.0,0,0.0,0,0.0,0,0,0,0,0
4,3,1,0.01,0,1,0,1,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,1,1,0.01,0,1,0,0,0,1,0,...,0.0,0,0.0,0,0.0,0,0,0,0,0
314,5,1,0.01,0,1,0,0,1,0,0,...,0.0,0,0.0,0,0.0,0,0,0,0,0
315,25,11,0.14,0,1,1,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0,0,0
316,9,4,0.06,0,1,0,0,1,0,0,...,0.0,0,0.0,0,0.0,0,0,0,0,0
317,67,27,0.33,1,1,1,0,0,0,0,...,0.0,0,0.0,0,0.0,0,0,0,0,0

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=2021)

In [21]:
print("X_train:", X_train.shape) # X_train
print("X_test:",X_test.shape) # X_test
print("y_train:",y_train.shape) # y_train
print("y_test:",y_test.shape) # y_test

X_train: (2742, 84)
X_test: (1829, 84)
y_train: (2742,)
y_test: (1829,)

In [22]:

# gradient boosting for regression in scikit-learn
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from matplotlib import pyplot
model = GradientBoostingRegressor()
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X_train, y_train, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')
print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))
# # fit the model on the whole dataset
model = GradientBoostingRegressor()
model.fit(X_train, y_train)

MAE: -74.186 (19.709)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [23]:
n_scores.shape

(30,)

In [24]:
print("Training R2 score is",r2_score(y_train,model.predict(X_train)))
print("Testing R2 score is",r2_score(y_test,model.predict(X_test)))

Training R2 score is 0.9911321318524697
Testing R2 score is 0.9521965225417661

In [25]:
target = model.predict(dt2)
target

array([1.46016742e+02, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.49595036e+02, 1.75353357e+00,
       1.46016742e+02, 1.75353357e+00, 4.03860122e+02, 1.75353357e+00,
       1.75353357e+00, 3.24734828e+02, 1.75353357e+00, 1.46016742e+02,
       1.75353357e+00, 1.46820177e+02, 1.75353357e+00, 1.46016742e+02,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 4.34637827e+02,
       1.75353357e+00, 1.75353357e+00, 5.41121668e+02, 1.50689491e+02,
       1.75353357e+00, 1.75353357e+00, 4.27487321e+02, 1.75353357e+00,
       8.29820975e+02, 3.20062079e+02, 1.46016742e+02, 1.75353357e+00,
       1.46820177e+02, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       2.55696856e+00, 3.20062079e+02, 1.46016742e+02, 1.46016742e+02,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 8.98507662e+02,
       1.75353357e+00, 3.20062079e+02, 1.75353357e+00, 3.33053874e+02,
       1.75353357e+00, 1.75353357e+00, 4.03860122e+02, 1.57419787e+02,
       1.75353357e+00, 1.75353357e+00, 3.02276169e+02, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.46016742e+02, 1.46016742e+02,
       5.19757464e+02, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       4.32160070e+02, 1.46016742e+02, 1.75353357e+00, 1.46016742e+02,
       1.75353357e+00, 1.75353357e+00, 5.39961631e+02, 1.31326338e+03,
       1.75353357e+00, 3.20062079e+02, 3.20062079e+02, 3.20062079e+02,
       1.75353357e+00, 5.43384663e+02, 1.46016742e+02, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.46016742e+02, 1.75353357e+00, 1.75353357e+00, 9.19754070e+01,
       1.75353357e+00, 2.15548808e+03, 1.75353357e+00, 3.20062079e+02,
       1.75353357e+00, 1.46016742e+02, 1.75353357e+00, 5.43384663e+02,
       1.75353357e+00, 3.20062079e+02, 1.75353357e+00, 1.78350110e+03,
       1.75353357e+00, 2.94113985e+03, 4.27487321e+02, 1.46016742e+02,
       1.75353357e+00, 1.75353357e+00, 4.27487321e+02, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 4.52811732e+02, 1.75353357e+00,
       1.59008537e+02, 1.50689491e+02, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 7.37577479e+02, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 4.06024811e+02, 1.75353357e+00,
       1.46016742e+02, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.46016742e+02, 1.75353357e+00, 1.75353357e+00, 3.20062079e+02,
       4.27487321e+02, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       5.48057412e+02, 1.75353357e+00, 3.24734828e+02, 1.75353357e+00,
       7.37577479e+02, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.46016742e+02, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       3.20865514e+02, 1.75353357e+00, 3.20062079e+02, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.46016742e+02, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 3.20062079e+02, 1.46016742e+02,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.50689491e+02,
       1.75353357e+00, 1.75353357e+00, 1.46016742e+02, 1.75353357e+00,
       1.46016742e+02, 1.75353357e+00, 2.55696856e+00, 1.46016742e+02,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.46016742e+02,
       1.46016742e+02, 1.75353357e+00, 3.02276169e+02, 1.75353357e+00,
       1.75353357e+00, 6.42628274e+00, 1.28230832e+02, 1.75353357e+00,
       1.75353357e+00, 4.27487321e+02, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.46820177e+02, 3.20062079e+02, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 3.20062079e+02,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 7.37577479e+02, 1.75353357e+00, 1.75353357e+00,
       1.50689491e+02, 1.75353357e+00, 3.24734828e+02, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.46820177e+02, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.46016742e+02, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 4.27487321e+02, 3.24734828e+02,
       1.75353357e+00, 4.03860122e+02, 1.75353357e+00, 1.46016742e+02,
       1.75353357e+00, 1.75353357e+00, 1.46016742e+02, 1.46016742e+02,
       1.75353357e+00, 3.20865514e+02, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 3.20062079e+02, 1.75353357e+00,
       1.75353357e+00, 5.43384663e+02, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 3.02276169e+02, 1.57419787e+02, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       3.20062079e+02, 1.75353357e+00, 1.46820177e+02, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.46016742e+02,
       1.75353357e+00, 1.75353357e+00, 1.46016742e+02, 1.75353357e+00,
       1.75353357e+00, 1.50689491e+02, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.75353357e+00, 5.19757464e+02, 6.42628274e+00,
       1.75353357e+00, 1.75353357e+00, 8.25148226e+02, 1.75353357e+00,
       1.75353357e+00, 3.20062079e+02, 1.46820177e+02, 1.46016742e+02,
       1.75353357e+00, 1.75353357e+00, 1.75353357e+00, 1.75353357e+00,
       1.75353357e+00, 1.46016742e+02])

In [26]:
target[target<0] = 0

In [27]:
res = pd.DataFrame(target) #preditcions are nothing but the final predictions of your model on input features of your new unseen test data
res.index = dt2.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["revenue"]
res.to_csv("prediction_results_G_boosting.csv", index = False)      # the csv file will be saved locally on the same location where this notebook is located